@model CreatePersonViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreatePersonViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <label asp-for="CurrentCityId"></label>
            <select asp-for="CurrentCityId">
                @foreach (City city in Model.Cities)
                {
                    <option value="@city.CityId">@city.CityName</option>
                }
            </select>
            <span asp-validation-for="CurrentCityId"></span>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

