@model CreatePersonViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Edit person data</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CurrentCityId" class="control-label"></label>
                <select asp-for="CurrentCityId" class="form-control">
                    @foreach (City city in Model.Cities)
                    {
                        <option value="@city.CityId">@city.CityName</option>
                    }
                </select>
                <span asp-validation-for="CurrentCityId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="CurrentCityId" class="control-label"></label>
            <input asp-for="CurrentCityId" class="form-control" />
            <span asp-validation-for="CurrentCityId" class="text-danger"></span>
        </div>*@



            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

