@model List<PersonData>
@{
    ViewData["Title"] = "Index";
}

<h2>People</h2>


<div id="create" class="btn btn-primary btn-sm rounded-0">
    <span class="p-2">Create</span><i class="fa fa-add"></i>
</div>
<p>

</p>

    <p>
        
        <input type="text" value="Enter id" id="inputId" name="id" />
        <div class="btn btn-outline-dark" id="searchBtn"></div>
    </p>





<!-- Call to action buttons -->
<ul class="list-inline m-0">

    <li class="list-inline-item">
        <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
    </li>
    <li class="list-inline-item">
        <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
    </li>
</ul>

<div class="row"><button type="button" class="btn btn-info" id="getPeople">People</button></div>

<div id="people" class="row"></div>




