@model List<PeopleViewModel>
@{
    ViewData["Title"] = "Index";
}

<h2>Ajax</h2>


<div class="pt-3">

    <div>
        <p>Enter id and select operation </p>
        <input type="text" class="pt-2" id="inputId" />
        <button id="details" class="btn btn-success rounded-0 ms-1" style="margin-bottom:10px;" type="button" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-table"></i></button>
        <button class="btn btn-danger rounded-0" type="button" style="margin-bottom:10px;" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
    </div>
</div>

<div class="row p-3">
    <div class="btn btn-outline-dark " id="showPeople">Show People</div>
</div>

<div id="people"></div>





