
@{
    ViewData["Title"] = "About";
}

<section id="aboutSection">
    <div class="about">

        <div class="dbox w-100 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-info"></span>
            </div>
            <div>
                <h3 class="about-text">A brief introduction to my world...</h3>
            </div>
        </div>


    </div>
    <div class="terminal">
        <pre>       
        <code class="demo code-box"><span class="attribute">Developer</span> Gbg <span class="dollar-sign">~ $</span> </code>
      </pre>
    </div>
    <div class="text-center">
        <p class="description pt-3 etched-text"><span class="description-info">Johan Daniel | Web-dev</span></p>
    </div>
</section>
