
@{
    ViewData["Title"] = "Home";
}

<section class="about_area section_gap" id="indexSection">
    <div class="container pt-5">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-5">
                <div class="about_img">
                    <img class="" src="~/images/about.png" alt="">
                </div>
            </div>

            <div class="offset-lg-1 col-lg-5">
                <div class="main_title text-left">
                    <h2>
                        Let’s <br>
                        start by introducing <br>
                        myself
                    </h2>
                    <p>
                        Creative problemsolver in the core of Gothenburg 
                       
                    </p>
                    <p>
                        Always open for new projects and possibilities. 
                    </p>
                    <a class="primary_btn" href="/cv/CV-Johan_Ivarsson-2022_ENG.docx"><span>Download CV</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

