#checkFeverSection {

    .btn-primary {
        background: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee) !important;
    }

   
        form {
            width: 300px;
            margin: 0 auto;
        }
    }
