@model IEnumerable<LexiconMVC_ViewModels.Models.Language>

@{
    ViewData["Title"] = "Languages";
}

<h1>Language</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.LanguageName
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.LanguageId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>