
@model List<PeopleViewModel>


<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>

        <th>
            City
        </th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td id="name">
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td id="name">
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>

    
</tr>
    }

</table>
<br />
