
@model List<PeopleViewModel>

<style>
    .div-table {
        display: table;
        width: 100%;
        overflow: scroll;
        background-color: #eee;
        border-spacing: 2px;
        border-radius: 4px
    }

    .trow {
        display: table-row
    }

    .tcolumn {
        display: table-cell;
        vertical-align: top;
        background-color: #fff;
        padding: 10px 8px
    }

    .tcolumn1 {
        width: 240px
    }
</style>
@if (@Model != null)
{
@foreach (PeopleViewModel item in Model)
{
    <div class="trow">
        <div class="tcolumn">@Html.DisplayFor(modelItem => item.Id)</div>
        <div class="tcolumn">@Html.DisplayFor(modelItem => item.Name)</div>
        <div class="tcolumn">@Html.DisplayFor(modelItem => item.City)</div>
        <div class="tcolumn">@Html.DisplayFor(modelItem => item.PhoneNumber)</div>
    </div>
}
}


